*{margin: 0; padding: 0;}
body,html {
	font-family: "Arial";
}
.header {
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.header h1 {
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 5px;
}

#newGameBtn {
	width: 100px;
	display: block;
	margin: 20px auto;
	padding: 10px;
	text-decoration: none;
	background-color: #8f7a66;
	color: #fff;
	border-radius: 5px;
}

#newGameBtn:hover {
	background-color: #763e33;
}

.header p {
	font-size: 25px;
}

#grid-container {
	width: 460px;
	height: 460px;
	margin: 30px auto;
	padding: 20px;
	background-color: #bbada0;
	border-radius: 10px;
	position: relative;
}

.grid-cell {
	width: 100px;
	height: 100px;
	border-radius: 8px;
	background-color: #ccc0b3;
	position: absolute;
}

.number-cell {
	border-radius: 8px;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	line-height: 100px;
	position: absolute;
}

.footer {
	padding-bottom: 30px;
	text-align: center;
	font-size: 22px;
	display: none;
}